#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

/* /* .page-container {
  width: 100%;
} */

.title {
  margin: 0;
}

.add-button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

#issues-main-search {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.table-placeholder {
  background-color: #f0f0f0;
  height: 500px; /* adjust this to your preference */
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.grid-toolbar {
  background-color: white;
}

.btn-navbar {
  color: white;
}

.oa-search-nav {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.navbar-heading h2 {
  margin-right: 20px; /* Adds some space between the heading and the search input */
}

.grid-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px; /* Adjust as needed */
}